@import './base.css';

#app {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  background-color: #f0f2f5;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}